body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.signup-page {
  min-height: 100vh;
  background-image: url('images/back2.jpg');
  background-size: cover;
  background-position: center;
}

.signup-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main container */
.signup-container {
  width: 400px;
  height: 550px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* Title and subtitle */
.signup-title {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  text-shadow: 0 0 10px #ffffff;
}

.signup-subtitle {
  color: #ffffff;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

/* Input styling */
.signup-form .input-container {
  text-align: left;
  margin-bottom: 0.5rem;
  color: black;
}

.signup-form label {
  display: block;
  color: #000000;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.signup-form input {
  width: 93.5%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.signup-form input::placeholder {
  color: #ffffff;  
  opacity: 1;
}

.password-toggle-icon {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
}

/* Button */
.signup-btn {
  width: 97%;
  padding: 0.9rem;
  margin-top: 1rem;
  border-radius: 10px;
  background: linear-gradient(90deg, #092050, #8ed8f5);
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.4s ease, transform 0.2s ease;
}

.signup-btn:hover {
  transform: translateY(-3px);
  background: linear-gradient(90deg, #8ed8f5,#092050);
}

.login_text {
  color: #000000;
  font-size: 0.9rem;
  margin-top: 1.3rem;
}

.login_link { 
  color: #0a0a0a;
  text-decoration: none;
  font-weight: 600;
}
